*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-color: #e9e9e9;
    height: 670px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 38px;   
}
ul{
    
    display: flex;
    list-style: none;
}
li{
    margin-left: 1em;
}
ul li a{ 
    font-weight: 600;   
    text-decoration: none;
    color: #272727;
    text-transform: uppercase;
    transition: 0.2s;  
}
ul li a:hover{
    color: #10c9c3;
    
}
.logo {
    background-image: url("images/logo.png");
    width: 31px;
    height: 25px;
    z-index: 236;
}
.box{
    margin-top: 160px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 1314px; 
    height: 314px;
}
.intro{
    display: flex;
    flex-direction: column;
    max-width: 480px;
    line-height: 1.9;
    margin-bottom: 1em;
}
.intro_header{
    font-size: 38px;
    line-height: 1.5;
}
.contact{
    display: block;
    max-width: 180px;
    max-height: 55px;
    padding: 7px;
    text-align: center;
    background: #10c9c3;
    margin-top: 1em;
    text-decoration: none;
    color: snow;
    transition: .2s linear;
}
.contact:hover{
    color: #10c9c3;
    background-color: #e9e9e9;
    border: #10c9c3 solid;
}
.block_about{
    display: flex;
    flex-direction: column;
    background: #10c9c3;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}
.about_title{
    font-size: 30px;
    font-weight: 500;
}
h2{
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
    color: #787878;
}
  